#aboutUs{
	background-image: url(../../assets/whiteWineGlass.jpg);
	background-position: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	h2{
		width: 50%;
		font-size: 35px;
		line-height: 2;
	}
}

.aboutContent{
	width: 50%;
	font-size: 25px;
}
