#aboutUs{
	background-image: url(../../assets/whiteWineGlass.jpg);
	background-position: cover;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 15% 0;
}

.aboutContent{
	h2{
		font-size: 35px;
		// margin-bottom: 2%;
	}
	font-size: 25px;
	background: rgba(255,255,255,0.4);
	padding: 3%;
}

@media(max-width: 1024px){
	#aboutUs{
		padding: 30% 0;
		margin: 0;
	}
}

@media (max-width: 768px){
	#aboutUs{
		background-position: right;
		padding: 20% 0;
		h2{
			width: 100%;
		}
	}

	.aboutContent{
		width: 100%;
	}
}

@media (max-width: 568px){
	#aboutUs{
		padding: 6.5% 0;
	}
}
