#contact{
	height: 100%;
	display: flex;
	align-items: center;
	background: rgba(187, 182, 212, 0.4)
}


.contactWrap{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5% 0;
	h2{
		padding: 5% 0;
	}
}

.contactTitle{
	li{
		margin-right: 15px;
	}
}

.contactInfo{
	display: flex;
	line-height: 2;
	padding-right: 40px;
	width: 100%;
	// align-items: center;
	a{
		color: inherit;
	}
}

@media (max-width: 868px){
	.map{
		margin-top: 6%;
	}

	#contact{
		height: 100%;
	}
	.contact{
		height: 100%;
		padding: 10% 0%;
	}
	.contactWrap{
		flex-direction: column;
	}
	.contactInfo{
		padding: 2% 0;
	}
}

@media (max-width: 480px){
	.contactWrap{
		flex-direction: column;
		padding: 0 10px;
	}

	.contactInfo{
		padding: 0;
		li{
			font-size: .9em;
		}
	}

	.map{
		margin: 5% 0;
	}
}