#contact{
	height: 50vh;
	display: flex;
	align-items: center;
	background: rgba(187, 182, 212, 0.4)
}


.contactWrap{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	h2{
		margin-bottom: 15px;
	}
}

.contactTitle{
	li{
		margin-right: 15px;
	}
}

.contactInfo{
	display: flex;
	line-height: 2;
	padding-right: 40px;
	width: 100%;
	// align-items: center;
	a{
		color: inherit;
	}
}

