footer{
	background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url(../../assets/headerImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	div{
	    display: flex;
	    justify-content: center;
	    align-items: center;
		height: 5vh;
		width: 100%;
		h5{
			color: $White;
		}
		a {
			color: $White;
		}
	}
}