footer{
	background: $Black;
	text-align: center;
	div{
	    display: flex;
	    justify-content: center;
	    align-items: center;
		height: 5vh;
		width: 100%;
		h5{
			color: $White;
		}
		a:hover{
			color: $LightPurple;
		}
	}
}