.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

img{
	max-width: 100%;
	display: block;
}

a{
	text-decoration: none;
	color: $White;
}

li{
	list-style-type: none;
}

h2, h3, h4, h5{
	font-family: $Header;
}

p{
	font-family: $Text;
}

*{
	padding: 0;
	margin: 0;
	color: $Black;
}
.smallHeader{
	height: 10vh;
	background-position: top;
}
body{
	background: $White;
	color: $Black;
}
td{
	font-family: $Text;
}
th{
	font-family: $Header;
}



