.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

img{
	max-width: 100%;
	display: block;
}

a{
	text-decoration: none;
	color: white;
}

li{
	list-style-type: none;
}

*{
	padding: 0;
	margin: 0;
}
body{
	background: #e8e8e8;
}




