header{
	background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url(../../assets/headerImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}


.headerNav{
	display: flex;
	width: 100%;
	padding-top: 30px;
	align-items: center;
}

.napaTextLogo{
	width: 50%;
	font-family: $Title;
	display: flex;
	flex-direction: row;
	.secondText{
		font-family: $TitleSecondary;
		margin-left: 1%;
	}
}

.mainNav{
	width: 50%;
	font-family: $Title;
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{
		text-transform: uppercase;
	}
}

.headerCentreText{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	h1{
		color: $White;
		text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
	}
}

.toggle-nav{
	display: none;
}