header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(../../assets/headerImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	padding: 0 0 6% 0;
}

.navBackgroundColor{
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.headerNav{
	display: flex;
	width: 100%;
	padding: 10px;
	align-items: center;
}

.napaTextLogo{
	width: 50%;
	font-family: $Title;
	h1{
		color: $LightPurple;
	}
	.secondText{
		font-family: $TitleSecondary;
		margin-left: 1%;
	}
}

.mainNav{
	width: 50%;
	font-family: $Title;
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{
		text-transform: uppercase;
	}
}

.headerCentreText{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	h1{
		color: $White;
		// text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
	}
}

.toggle-nav{
	display: none;
}

.fa{
	color: $White;
}

@media (max-width: 1024px) {
	header{
		padding-bottom: 7.5%;
	}
}

@media (max-width: 868px) {

	header{
		padding-bottom: 13%;
	}

	.headerCentreText{
		font-size: 1em;
	}
	
	.napaTextLogo{
		width: 100%;
	}


	.toggle-nav{
		display: block;
		position: absolute;
		right: 3%;
		z-index: 1;
		font-size: 25px;
		padding-right: 5px;
	}

	.mainNav{
		ul{
			position: fixed;
			top: 0;
			right: -200px;
			width: 200px;
			display: block;
			height: 100vh;
			background: rgba(0, 0, 0, 0.8);
			margin: 0;
			padding: 0;
			transition: right .3s;
			li{
				text-align: center;
				margin-left: 0;
				border-bottom: none;
				color: #ffffff;
			}
			li:first-child{
				margin-top: 50%;
				border-bottom: none;
			}
			li:nth-of-type(2){
				border-bottom: none;
			}
			li:nth-of-type(3){
				border-bottom: none;
			}
			li:last-child{
				border-bottom: none;
			}
			a{
				border-bottom: none;
				padding: 15px 0;
				display: inline-block;
				width: 100%;
				color: $White;
				&:hover{
					background: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}
}

@media (max-width: 736px) {
	header{
		padding-bottom: 7.5%;
	}
}

@media (max-width: 568px) {
	header{
		padding-bottom: 6.5%;
	}

	.napaTextLogo{
		width: 100%;
		h1{
			font-size: 1.5em;
		}
	}
	.headerCentreText{
		h1 {
			font-size: 1em;
		}
	}
}

@media (max-width: 480px) {
	header{
		padding-bottom: 7.5%;
	}

	.napaTextLogo{
		h1{
			font-size: 0.95em;
		}
	}
	.headerCentreText{
		h1{
			font-size: 1.2em;
		}
	}
}


@media (max-width: 414px) {
	header{
		padding-bottom: 17.5%;
	}

	.headerCentreText{
		h1{
			padding: 0 1%;
		}
	}
}

@media (max-width: 320px) {
	header{
		padding-bottom: 19%;
	}
}