$Black: #0d0a09;
$Purple: #564b68;
$White: #e8e8e8;
$Teal: #90c3c8;
$LightPurple: #b9b8d3;

$Tilte: font-family: 'IM Fell Dw Pica SC', serif;
$TitleSecondary: font-family: 'Caveat', cursive;
$Header: font-family: 'Ubuntu', sans-serif;
$Text: font-family: 'Open Sans', sans-serif;